# конфигурационный файл продуктов JetBrains
.idea/
# кэш, который Python создает для ускорения работы
*__pycache__*
# наши локальные настройки, которые не нужны другим разработчикам
config/config.yaml